#wrapper {
    overflow-x: hidden;
    min-height: 100vh;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px; /* Largura fixa do menu */
}

#page-content-wrapper {
    width: 100%;
}

.list-group-item-dark {
    background-color: #212529;
    color: #ccc;
    border: none;
}

.list-group-item-dark:hover {
    background-color: #343a40;
    color: #fff;
}